<%- include('../includes/start'); %>

<div class="container">
    <h3><%= conseil.nom %> ( <%= conseil.debutPeriode %> - <%= conseil.finPeriode %> )</h3>
    <div class="d-flex mb-4">
        <form class="mr-3" action="/addMember" method="GET">
            <input type="hidden" name="conseil" value="<%= conseil.id %>">
            <button class="btn btn-primary" type="submit">+ Ajouter un membre</button>
        </form>
        <a class="btn btn-info" href="/commissionList?conseil=<%= conseil.id %>">Voir liste des commissions</a>
        <hr>
    </div>
</div>
<div class="container">
    <% if (!members[0]){ %>
    <h4>Pas de membre pour l'instant veuillez en ajouter</h4>
    <hr>
    <% } else { %>
    <h4>Liste des membres</h4>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Date d'entrée</th>
                    <th scope="col">Date de sortie</th>
                </tr>
            </thead>
            <tbody>
                <% members.forEach(member=>{ %>
                <tr>
                    <th scope="row"><%= member.nom %></th>
                    <td><%= member.prenom %></td>
                    <td><%= member.adresse %></td>
                    <td><%= member.tel %></td>
                    <td><%= member.sexe %></td>
                    <td><%= member.dateEntree %></td>
                    <td><%= member.dateSortie %></td>
                    <td>
                        <form action="/deleteMember" method="post">
                            <input type="hidden" name="memberId" value="<%= member.id %>">
                            <button class="btn btn-danger" type="button" data-toggle="modal"
                                data-target="#modal">Supprimer</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </table>
    </div>
    <% } %>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation de suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Etes-vous s&ucirc;r de vouloir supprimer ce membre ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <button id="confButton" class="btn btn-danger btn-lg" type="button">Oui</button>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/end'); %>

<script>
    $('#modal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget); // Button that triggered the modal

        var confButton = $('#confButton');
        confButton.click(() => {
            button.closest('form').submit(); // submit the form where the button is contained
        })
    })
</script>