<%- include('../includes/start'); %>

<div class="container">
    <% if(!tabComm[0]) { %>
    <div class="container">
        <h3>Pas de commission.</h3>
        <p>Conectez-vous en tant qu'admin pour en ajouter.</p>
    </div>
    <% } else { %>
    <div class="container mb-4 row">
        <div class="d-inline">
            <h3>Voici la liste des commissions de <h3>
        </div>
        <div class="input-group col-lg-4">
            <!-- <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Conseil</label>
            </div> -->
            <select class="custom-select" id="inputGroupSelect01" onchange="location = this.value;">
                <option value="/commissionList">Tous les conseils</option>
                <% tabCons.forEach(conseil=>{ %>
                <option <%= (c==conseil.id)? 'selected' : '' %> value="/commissionList?conseil=<%= conseil.id %>">
                    <%= conseil.nom %></option>
                <% }) %>
            </select>

        </div>
        <% if ( c ){ %>
    </div>
    <div class="row mb-4">
        <form action="/addCommission" method="GET">
            <input type="hidden" name="conseil" value="<%= c %>">
            <button class="btn btn-primary" type="submit">+ Ajouter une commission</button>
        </form>
        <% } %>

    </div>
    <% tabComm.forEach(comm=>{ %>
    <div class="card shadow d-inline-flex mr-4 mb-4" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center"><%= comm.nom %></h5>
            <% if (!c && comm.conseil) { %>
                <p class="text-muted">de <strong> <%= comm.conseil.nom %> </strong></p>
            <% } %>

            <div class=" container d-flex">
                <form action="/commission/<%= comm.id %>" method="GET">
                    <button class="btn btn-info btn-sm mr-2" type="submit">Plus de details</button>
                </form>
                <form action="/deleteComm" method="POST">
                    <input type="hidden" name="idComm" value="<%= comm.id %>">
                    <button class="btn btn-danger btn-sm" type="submit">Supprimer</button>
                </form>

            </div>
        </div>
    </div>
    <% })} %>
</div>


<%- include('../includes/end'); %>