<%- include('../includes/start'); %>

<div class="container ">
    <div class="constainer mb-4">
        <h3>Remplissez pour ajouter un membre:</h3>
    </div>
    <% if (error) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> <%= error %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    <div class="form-group w-50">
        <form method="POST" action="/addMemberCons">
            <div class="form-group">
                <label for="nom">Nom du membre</label>
                <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez un nom">
            </div>
            <div class="form-group">
                <label for="prenom">Prenom du membre</label>
                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Entrez un prenom">
            </div>
            <div class="form-group">
                <label for="statut">Statut du membre</label>
                <br> <input type="radio" name="statut" id="statut" value="president"> President
                <br> <input type="radio" name="statut" id="statut" value="membre" checked> Membre
                <br> <input type="radio" name="statut" id="statut" value="doyen"> Doyen
                <br> <input type="radio" name="statut" id="statut" value="vice-doyen"> Vice-doyen
            </div>
            <div class="form-group">
                <label for="tel">Adresse email du membre</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Entrez l'adresse email du membre">
            </div>
            <div class="form-group">
                <label for="adresse">Adresse du membre</label>
                <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Entrez une adresse">
            </div>
            <div class="form-group">
                <label for="tel">Numero de telephone du membre</label>
                <input type="text" class="form-control" id="tel" name="tel" placeholder="Entrez un numero">
            </div>
            <div class="form-group">
                <label for="sexe">Sexe du membre</label>
                <br> <input type="radio" name="sexe" id="sexe" value="Masculin" checked> Masculin
                <br> <input type="radio" name="sexe" id="sexe" value="Feminin"> Feminin
            </div>

            <input type="hidden" name="id" value="<%= id %>">
            <input type="hidden" name="type" value="<%= type %>">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </div>
</div>






<%- include('../includes/end'); %>